body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

*{
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}


#homeView{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    background-color: black;
    transition: background-color 2s ease-in-out;
}

#introVideo{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -2;
    opacity: 1;
}

#videoActual{
    height: auto;
    width: auto;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

.texting{
    height: 100vh;
    position: absolute;
}

.helloImage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoActual{
    filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.4));
    opacity: 0;
    transition: 2s ease-in-out;
    transform: scale(1.1);
}

.topView{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: clip;
    position: relative;
    z-index: -2;
}

.bottomView{
    height: 50vh;
    width: 100vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}


.artviewH1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;  
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -20px;
    margin-top: 25px;
    font-size: 40px;
    color: transparent;
}

.groupH1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;  
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 40px;
}

.biggaz{
    margin: 0;
    padding: 0;
    font-size: 350px;
    transform: translateY(-100px);
    color: transparent;
}

#topga{
    transform: translateX(0);
    font-size: 400px;
    transition: transform 5s linear;
}

#bottomga{
    transform: translateX(0);
    transition: transform 5s linear;
}

@media(max-width: 900px){
    #logoActual{
        height: 200px;
    }
}

@media(max-width: 500px){
    #logoActual{
        height: 150px;
    }

    #topga{
        font-size: 250px;
    }
}



/* .fadingAnimation{
    height: calc(100vh + env(safe-area-inset-bottom));
    width: 100vw;
    position: fixed;
    top: 0;
    background-image: linear-gradient(transparent 80%, white);
    z-index: 1;
} */




main{
    height: auto;
    width: 100vw;
}

#sectionSlogan{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.sloganSection{
    width: 500px;
    max-width: 88%;
    color: black;
    opacity: 0;
    transition: 2s ease;
}

.sloganSection.show{
    opacity: 1;
}

#sectionH1{
    font-size: 65px;
    margin: 100px 0 25px 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;    
    line-height: 75px;
    z-index: -1;
}

.boldH1{
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#sectionP{
    font-size: 20px;
    margin: 0 0 50px 0;
    color: gray;
}

.boldP{
    font-weight: 600;
    color: black;
}




#sectionBento{
    height: 500px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    z-index: 2;
}

.bentoGrid{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#bento1{
    background-image: url(/menuAssets/new1.png);
}

#bento2, #bento4, #bento5, #bento7{
    background-image: radial-gradient(circle, rgb(55, 55, 55), rgb(36, 36, 36));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    padding: 20px;
    font-size: 40px;
}

#bento3{
    background-image: url(/menuAssets/asset1.png);
}

#bento6{
    background-image: url(/menuAssets/asset6.png);
}

#bento8{
    background-image: url(/menuAssets/new2.png);
}



.onthego{
    margin-top: 50px;
}

.carouselContain{
    width: 500px;
    max-width: 88%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    border-radius: 20px;
    overflow: hidden;
}

#buttones{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.centralBee{
    width: 500px;
    max-width: 88%;
}

.buttonCarousel{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 5px 5px;
    border-radius: 50px;
    margin: 0 3px 10px 0;
    font-size: 14px;
    border: none;
    color: white;
    background-image: radial-gradient(circle, rgb(55, 55, 55), rgb(36, 36, 36));
}

.arrowsN{
    padding: 5px;
}

#carousel{
    height: 400px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    transition: translate 0.5s linear;
    border-radius: 20px;
}

.others{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}



#gradientFilm{
    background: linear-gradient(100deg,rgb(255, 64, 21), rgba(248, 197, 122));
    background: -webkit-linear-gradient(100deg,rgb(255, 64, 21), rgba(248, 197, 122));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 100px 0 25px 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal; 
}

.witchContain{
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.floatingWitch{
    height: auto;
    width: 1200px;
    gap: 20px;
    filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.4));
}

.witches{
    height: 400px;
    width: 100%;
    object-fit: contain;
    object-position: left;
    animation: toFloatRight 0.5s linear;
    animation-timeline: view();
}

@keyframes toFloatRight{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(200px);
    }
}

.twitch{
    object-position: right;
    animation: toFloatLeft 0.5s linear;
    animation-timeline: view();
}

@keyframes toFloatLeft{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-200px);
    }
}


#fujisan{
    width: 100vh;
    position: absolute;
    top: 0;
}


.sakuraBlossom{
    height: 350px;
    width: 100vw;
    background-image: url(/asset/AB.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -2;
}


@media (max-width: 750px){
    #sectionBento{
        grid-template-columns: repeat(2, 1fr);
    }

    #bento2, #bento4, #bento5, #bento7{
        font-size: 25px;
    }

    #sectionH1{
        font-size: 50px;
        line-height: 60px;
    }

    .witchContain{
        overflow-x: hidden;
    }

    .witches{
        height: 250px;
        object-position: center;
    }

    .sakuraBlossom{
        height: 200px;
    }

    footer{
        grid-template-columns: repeat(1, 1fr);
    }

}


footer{
    min-height: 300px;
    width: 100vw;
    background-image: url(/asset/alook.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.conT{
    margin: 30px;
}

#listH1{
    margin: 0;
    font-size: 23px;
}

#listP{
    margin: 10px 0;
    font-size: 18px;
}

.imageCon{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerLogo{
    height: 200px;
}

.address{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#addressH1{
    margin: 30px 30px 0 30px;
    font-size: 40px;
}

#addressP{
    margin: 10px 30px;
    font-size: 20px;
}